In [5]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer

In [ ]:
df_distorção = pd.read_excel('../data/Distorcao_serie_idade.xlsx')
df_distorção_filtro = df_distorção[(df_distorção['Localização'] == 'Total') & (df_distorção['Dependência Administrativa'] == 'Total')]
df_distorção_final = df_distorção_filtro[[' Nome do Município','Total_M','Total_F']]
df_distorção_final = df_distorção_final.rename(columns={
    'Total_M': 'tx_distorcao_medio',
    'Total_F': 'tx_distorcao_fundamental'
})

df_distorção_final

df_distorção_final

       Nome do Município tx_distorcao_medio tx_distorcao_fundamental
3                  Acauã               21.5                     10.2
14          Agricolândia               22.1                     14.2
22           Água Branca               10.9                      5.9
35    Alagoinha do Piauí               16.4                     10.3
48     Alegrete do Piauí               13.9                      8.6
...                  ...                ...                      ...
2639       Várzea Branca               37.7                     26.2
2652       Várzea Grande               23.3                     11.2
2660         Vera Mendes                 36                     21.5
2671  Vila Nova do Piauí                 20                      9.4
2682         Wall Ferraz               25.4                     17.1

[224 rows x 3 columns]

: