In [191]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer

In [192]:
df_ideb = pd.read_excel('../data/Ideb final_medio.xlsx')
df_ideb

,Nome do Município,Unnamed: 1,IDEB\n2023\nAno final,IDEB\n2023\nEnsino Medio,Ideb ano inicial,Cidades
0,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,NO_MUNICIPIO,NaN,VL_OBSERVADO_2023,VL_OBSERVADO_2023,NaN,NaN
3,Agricolândia,NaN,5.6,4.5,6.2,Acauã
4,Água Branca,NaN,5.2,4.9,5.2,Agricolândia
...,...,...,...,...,...,...
222,NaN,NaN,3.7,4.1,4.5,Várzea Branca
223,NaN,NaN,4.7,4.3,5.6,Várzea Grande
224,NaN,NaN,4.5,4.1,4.9,Vera Mendes
225,NaN,NaN,6,4.3,7.1,Vila Nova do Piauí
226,NaN,NaN,4.9,4,5.6,Wall Ferraz

In [ ]:
df_ideb = df_ideb.drop(columns=['Unnamed: 1','Nome do Município'])
df_ideb = df_ideb.rename(columns={
    'IDEB\n2023\nEnsino Medio': 'ideb_ensino_medio',
    'Cidades' : 'Municipios',
    'IDEB\n2023\nAno final' : 'ideb_ano_final',
    'Ideb ano inicial': 'ideb_ano_inicial'
})
colunas_ideb = ['ideb_ano_final','ideb_ensino_medio','ideb_ano_inicial']

df_ideb[colunas_ideb] = df_ideb[colunas_ideb].replace('-', np.nan)
df_ideb[colunas_ideb] = df_ideb[colunas_ideb].apply(pd.to_numeric, errors ='coerce')


df_ideb[colunas_ideb] = df_ideb[colunas_ideb].fillna(df_ideb[colunas_ideb].mean())
df_ideb = df_ideb.drop(index=[0,1,2])

df_ideb = df_ideb.reset_index(drop=True) 

organizar = ['Municipios'] + [col for col in df_ideb.columns if col != 'Municipios']

df_ideb = df_ideb[organizar]
df_ideb

Valores únicos na coluna 'ideb_ano_final': [nan 5.6 5.2 5.7 5.  3.2 4.3 4.6 4.8 4.2 5.5 2.6 3.5 5.3 5.1 4.  4.5 4.4
 4.9 6.5 5.4 5.9 3.4 3.7 3.9 3.6 3.8 6.4 3.3 4.7 6.1 4.1 5.8 6. ]
Valores únicos na coluna 'ideb_ensino_medio': [nan 4.5 4.9 4.1 4.2 4.4 4.3 3.6 4.7 4.  3.8 3.9 3.4 4.8 3.7 3.5 3.1 4.6
 7.  3.3 3.2 5. ]
Valores únicos na coluna 'ideb_ano_inicial': [nan 6.2 5.2 6.8 5.3 5.8 5.6 7.  4.8 4.4 6.1 5.1 5.4 5.7 4.6 4.1 4.9 6.3
 4.5 7.3 4.3 5.5 6.4 7.2 4.  3.5 6.7 3.8 6.5 7.8 4.7 4.2 7.4 8.4 5.9 3.7
 6.  3.9 7.1 6.6 5.  6.9]

C:\Users\Seplan\AppData\Local\Temp\ipykernel_14276\551666901.py:10: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_ideb[colunas_ideb] = df_ideb[colunas_ideb].replace('-', np.nan)

             Municipios  ideb_ano_final  ideb_ensino_medio  ideb_ano_inicial
0                 Acauã             5.6                4.5               6.2
1          Agricolândia             5.2                4.9               5.2
2           Água Branca             5.6                4.1               6.8
3    Alagoinha do Piauí             5.7                4.2               5.3
4     Alegrete do Piauí             5.0                4.4               5.8
..                  ...             ...                ...               ...
219       Várzea Branca             3.7                4.1               4.5
220       Várzea Grande             4.7                4.3               5.6
221         Vera Mendes             4.5                4.1               4.9
222  Vila Nova do Piauí             6.0                4.3               7.1
223         Wall Ferraz             4.9                4.0               5.6

[224 rows x 4 columns]